main {
  background-color: var(--background-color);

  & .container {
    & ul {
      display: grid;
      justify-content: center;
      gap: 1rem;

      & img {
        width: 20.5rem;
        height: 20.5rem;
      }
    }
  }
}

@media (width >= 80em) {
  & main {
    & .container {
      padding-inline: 1rem;

      & ul {
        grid-template-columns: repeat(4, 17.875rem);
        gap: 1.5rem;

        & img {
          width: 17.875rem;
          height: 17.875rem;
        }
      }
    }
  }
  
}