.flex {
  display: flex;
}

.grid {
  display: grid;
}

.padding-inline-1 {
  padding-inline: 1rem;
}

.profile-nav {
  width: 2.5rem;
  height: 2.5rem;
}

.nav-links {
  font: 400 16px/150% var(--font-family);
  color: var(--text-color-secondary);
}

.desktop-only {
  display: none;
}